*{
margin: 0;
padding:0;
border:0;
font-size: inherit;
font-weight: inherit;
font-family: inherit;
text-decoration: inherit;
line-height: color;
color: inherit;
}

  body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  text-align: center;
}


h1 {
  font-size: 40px;
  line-height:52px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0px #fff;
}

img {
  border-radius: 50%;
}
